<html>
    <head>
        <title>LoomHub — Login</title>
        <link rel="stylesheet" href="project web.css">
         <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet" />
       <link rel="stylesheet" href="logIn.css">
       <script src="users.js"></script>
       <script src="logIn.js"></script>
    </head>
    <body>
        
        <div class="main-logo"> <div class="logo-icon">📚</div>
      <div class="logo-text">Loom<span>Hub</span></div>
    </div></div>
       
        
        <div id="details">
           
            <label for="email">Email:</label><br><span id="emailError"></span>
            <input type="email" id="email" placeholder="Enter Email"><br>

            <label for="pass">Password:</label><br><span id="passError"></span>
            <input type="password" id="pass" placeholder="Enter Password"><br>

            

            <button onclick="validateLogin()">Login</button>

            <span>Haven't made an account yet? <a href="signIn.html">sign up</a></span>
</div>
            



    <script src="users.js"></script>
    <script src="logIn.js"></script>        
    </body>
</html>